<aside id="feed-control">
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="autoupdate" checked>
        <label class="custom-control-label" for="autoupdate">Update Tweets Automatically</label>
    </div>
    <div class="update-tweets-message">
    </div>
</aside>
<ul id="bexit-tweets" class="list-group">
    {{> partials/tweet}}
</ul>
<aside id="feed-bottom-control">
    <div class="update-tweets-message">
        <div class="message">
            Load older tweets
        </div>
    <div>
</aside>